Repository SpiderLabs/owasp-modsecurity-crs, pull requests merged in 2018-10, with the labels that each got.

#1168 Fix bug #1166 in Docker image
  util/docker/docker-entrypoint.sh
Labels: docker

#1196 Fix counters
  rules/REQUEST-920-PROTOCOL-ENFORCEMENT.conf
  rules/REQUEST-932-APPLICATION-ATTACK-RCE.conf
  rules/REQUEST-933-APPLICATION-ATTACK-PHP.conf
  rules/RESPONSE-950-DATA-LEAKAGES.conf
  rules/RESPONSE-951-DATA-LEAKAGES-SQL.conf
  rules/RESPONSE-952-DATA-LEAKAGES-JAVA.conf
  rules/RESPONSE-953-DATA-LEAKAGES-PHP.conf
  rules/RESPONSE-954-DATA-LEAKAGES-IIS.conf
Labels: Buggy Rule, v3.1-dev, v3.2-dev

#1204 Drop exit from unix and windows RCE
  rules/REQUEST-932-APPLICATION-ATTACK-RCE.conf
  util/regexp-assemble/regexp-932100.txt
  util/regexp-assemble/regexp-932110.txt
Labels: v3.1-dev, v3.2-dev

#1207 Erased gitter chat. Added CII badge
  README.md
Labels: Documentation
